<section class="form-table">
    <section>
       
        <input class="barraHerramientas" type="button" (click)="mostrarSeleccionados()" id="btnMostrar"
            value="Abrir Modal">
    </section>
    <table id="personas" >
        <tr>
            <th>
                <input class="maincheckbox"type="checkbox" 
                [(ngModel)]="mainCheckbox"
                [value]="-1"
                (change)="onChangePersona($event)"      
                >
            </th>
            <th>
                Id
            </th>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Edad
            </th>
            <th>
                Correo
            </th>
            <th>
                Eliminar
            </th>
        </tr>
        <tr *ngFor="let i of ListaPersonasMostrados">
            
            <td><input type="checkbox" 
                [value]="i.id"
                 [checked]="i.seleccionado"
                 (change)="onChangePersona($event)"></td>
            <td>{{i.id}}</td>
            <td>{{i.nombres}}</td>
            <td>{{i.apellidos}}</td>
            <td>{{i.edad}}</td>
            <td>{{i.correo}}</td>

            <td><input class="barraHerramientas" type="button" value="Eliminar" (click)="mostrarEliminar(i)"></td>
        </tr>
    </table>
    <section class="pagination">
        <input class="botones" type="button" (click)="paginacionInicial()" value="<<">
        <input class="botones" type="button" (click)="paginacionAnterior()" value="<">
        <input class="botones" type="button" (click)="paginacionSiguiente()" value=">">
        <input class="botones" type="button" (click)="paginacionFinal()" value=">>">
    </section>
    <app-modal-mostrar (isVisibleEvent)="get_isVisibleSeleccionados($event)" *ngIf="isVisibleSeleccionados" [ListaModal]="ListaSeleccionados" [isVisible]="isVisibleSeleccionados"></app-modal-mostrar>
    <app-modal-eliminar (isVisibleEvent)="get_isVisibleEliminar($event)"  *ngIf="isVisibleEliminar" [ListaPersonas]="ListaPersonas" [isVisible]="isVisibleEliminar" [IdPersona]="IdPersonaEliminada" [ListaBusqueda]="ListaBusqueda"></app-modal-eliminar>
</section>



