<section class="modal-container" (click)="OcultarModal()"   [ngStyle]=" isVisible ? {display:'visible'} : {display:'none'}"          >
    <section class="modal modal-close">
        <p class="close">X</p>
        <section class="modal-textos">
            <h2>Personas Seleccionadas</h2> 
            <table id="tablaModal">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Edad
                    </th>
                    <th>
                        Correo
                    </th>  
                </tr>
                <tr *ngFor="let i of ListaModal">  
                    <td>{{i.id}}</td>
                    <td>{{i.nombres}}</td>
                    <td>{{i.apellidos}}</td>
                    <td>{{i.edad}}</td>
                    <td>{{i.correo}}</td>                
                </tr>
            </table>
        </section>
    </section>
</section>